<!doctype html>
<html prefix="og: https://ogp.me/ns#">
    <head>
        <meta charset="utf-8">
        <noscript><meta http-equiv = "refresh" content = "0; url = /nojs" /></noscript>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Exolink</title>
        <meta property="og:title" content="Exolink">
        <meta property="og:description" content="Exolink lets you make Exoracer share links with custom titles, descriptions, and images.">
        <meta name="theme-color" content="#7b4afa">
        <link rel="icon" href="/favicon.ico">
        <link rel="stylesheet" href="/css/common.css"> 
        <link rel="stylesheet" href="/css/main.css"> 
    </head>
    <body>
        <% 
            let modifiedLink = sourceCode;
            if ((sourceCode == "https://github.com/jbmagination/exolink" || sourceCode == "https://github.com/Ectoracer/Exolink")) sourceCode = `<a href="https://github.com/Ectoracer/Exolink">source code</a>`
            else sourceCode = `source code: <a href="${modifiedLink}">modified</a> (<a href="/changes.txt">changes</a>), <a href="https://github.com/Ectoracer/Exolink">original</a>`
        %> 
        <h1>Exolink <span class="info"><%= version %> | <%- sourceCode %> | <a href="/privacy">privacy</a></span></h1>
        <div>
            <select id="domainPrefix">
                <option value="exoracer">exoracer</option>
                <option value="exo">exo</option>
            </select>
            <label for="shareLink">.page.link/</label>
            <input type="text" id="shareLink" title="Share link" placeholder="Share link">
            <button onclick="javascript:getData()">Get data</button>
        </div>
        <br>
        <div>
            <div>
                <label for="type">Type:</label>
                <select id="type" onchange="showLevelVersion()">
                    <option value="level">Level</option>
                    <option value="lobby">Lobby</option>
                </select>
            </div>
            <div>
                <label for="levelID">Level/lobby ID:</label>
                <input type="text" id="levelID" placeholder="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx">
            </div>
            <div>
                <label for="title">Title:</label>
                <input type="text" id="title" placeholder="Title">
            </div>
            <div>
                <label for="description">Description:</label>
                <input type="text" id="description" placeholder="Description">
            </div>
            <div>
                <label for="imageURL">Image URL:</label>
                <input type="text" id="imageURL" placeholder="Image URL">
                <button id="imageURLButton" onclick="javascript:makeImageURL()">Adjust image URL</button>
            </div>
            <div>
                <label id="levelVersionLabel" for="levelVersion">Level version:</label>
                <input type="number" id="levelVersion" placeholder="Level version">
            </div>
            <div>
                <label for="suffixOption">Suffix type:</label>
                <select id="suffixOption" onchange="showSuffixOption()">
                    <option value="UNGUESSABLE">Unguessable</option>
                    <option value="SHORT">Short</option>
                    <% if (process.env.CUSTOM_LINK == "true") { %> <option value="CUSTOM">Custom</option> <% } %>
                </select>
            </div>
            <% if (process.env.CUSTOM_LINK == "true") { %>
            <div>
                <label id="customSuffixLabel" for="customSuffix" hidden="true">Suffix:</label>
                <input type="text" id="customSuffix" placeholder="Suffix" hidden="true">
            </div>
            <% } %>
            <br>
            <button onclick="javascript:makeLink()">Make link</button>
        </div>
        <br>
        <div id="link"></div>
        <script src="/app.js"></script>
    </body>
</html>