<!doctype html>
<html prefix="og: https://ogp.me/ns#">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Exolink</title>
        <meta property="og:title" content="Exolink">
        <meta property="og:description" content="Exolink lets you make Exoracer share links with custom titles, descriptions, and images.">
        <meta name="theme-color" content="#7b4afa">
        <link rel="icon" href="/favicon.ico">
        <style>
            @import url("https://fontlay.com/css2?family=Monoton&family=Oxanium:wght@700&display=swap");
            :root { color-scheme: light dark; }
            * {
                font-family: "Oxanium";
                color: #d9d9d9;
                text-align: center;
                outline: none;
                margin: 0;
                padding: 0;
            }
            body {
                margin: 0 auto;
                background-image: url(exo_bg.png);
                background-size: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
                width: 80%;
            }
            h1 {
                font-family: "Monoton";
                font-size: 50px;
            }
            li {
                text-align: left;
            }
            h3 { font-size: 20px; }
            a {
                color: rgb(0, 64, 255);
                text-decoration: none;
                position: relative;
                transition: color 0.25s;
            }
            a:after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0%;
                border-bottom: 2px solid rgb(0, 128, 255);
                transition: 0.4s;
            }
            a:hover:after {
                width: 100%;
                color: rgb(0, 128, 255);
            }
            a:hover { color: rgb(0, 128, 255); }
            @media (prefers-color-scheme: dark) {
                a {
                    color: rgb(0, 128, 255);
                    text-decoration: none;
                    position: relative;
                    transition: color 0.25s;
                }
                a:after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 0%;
                    border-bottom: 2px solid rgb(78, 166, 255);
                    transition: 0.4s;
                }
                a:hover:after {
                    width: 100%;
                    color: rgb(78, 166, 255);
                }
                a:hover { color: rgb(78, 166, 255); }
            }
        </style>
    </head>
    <body>
        <% 
            let modifiedLink = sourceCode;
            if ((sourceCode == "https://github.com/jbmagination/exolink" || sourceCode == "https://github.com/Ectoracer/Exolink")) sourceCode = `<a href="https://github.com/Ectoracer/Exolink">source code</a>`
            else sourceCode = `source code: <a href="${modifiedLink}">modified</a> (<a href="/changes.txt">changes</a>), <a href="https://github.com/Ectoracer/Exolink">original</a>`
        %> 
        <h1>Exolink <span style="font-size:45%"><%= version %> | <%- sourceCode %> | <a href="/privacy">privacy</a></span></h1>
        <div>
            <h2>Exolink collects minimal information about you.</h2>
            <ul>
                <li>A general overview of requests sent to the server are logged for debugging purposes.</li>
                <li>Image links are filtered from the logs - but the operator may know that an image was loaded.</li>
                <li>The link you're accessing in the link directory is filtered from the logs - but the operator may know that a link was accessed.</li>
                <li>That's it.</li>
                <li>Your IP address, browser, user agent, and/or other personally identifiable information are all <u>NOT</u> logged.</li>
            </ul>
            <br>
            <h2>Some parts of Exolink connect to other services.</h2>
            <ul>
                <li><a href="https://fontlay.com">Fontlay</a> is a proxy for <a href="https://fonts.google.com">Google Fonts</a>. Your IP is not shared with Google, and according to Fontlay, nothing is logged. Your browser directly connects to Fontlay, and Fontlay then talks to Google. You are <u>NOT</u> subject to Google's <a href="https://policies.google.com/privacy">Privacy Policy</a> or <a href="https://policies.google.com/terms">Terms of Service</a>. Fontlay does not appear to have a privacy policy or a terms of service.</li>
                <li><a href="https://firebase.google.com/docs/dynamic-links/">Firebase Dynamic Links</a> are links provided by Google. The Exoracer app generates these links when you share a level. Your browser sends no requests to Google - Exolink makes this request directly from the server to Google, and then gets what it needs and gives it back. <i>You</i> are <u>NOT</u> subject to Google's <a href="https://policies.google.com/privacy">Privacy Policy</a> or <a href="https://policies.google.com/terms">Terms of Service</a>.</li>
                <li>Exolink may also attempt to fetch images. Your browser does not connect to an external server - it connects to us, and then we get the image for you and return it.</li>
            </ul>
        </div>
    </body>
</html>