<!doctype html>
<html prefix="og: https://ogp.me/ns#">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Exolink</title>
        <meta property="og:title" content="Exolink">
        <meta property="og:description" content="Exolink lets you make Exoracer share links with custom titles, descriptions, and images.">
        <meta name="theme-color" content="#7b4afa">
        <link rel="icon" href="/favicon.ico">
        <link rel="stylesheet" href="/css/common.css"> 
        <link rel="stylesheet" href="/css/privacy.css"> 
    </head>
    <body>
        <% 
            let modifiedLink = sourceCode;
            if ((sourceCode == "https://github.com/jbmagination/exolink" || sourceCode == "https://github.com/Ectoracer/Exolink")) sourceCode = `<a href="https://github.com/Ectoracer/Exolink">source code</a>`
            else sourceCode = `source code: <a href="${modifiedLink}">modified</a> (<a href="/changes.txt">changes</a>), <a href="https://github.com/Ectoracer/Exolink">original</a>`
        %> 
        <h1>Exolink <span class="info"><%= version %> | <%- sourceCode %> | <a href="/privacy">privacy</a></span></h1>
        <div>
            <h2>Exolink collects minimal information about you.</h2>
            <ul>
                <li>A general overview of requests sent to the server are logged for debugging purposes. Each request has a unique ID.</li>
                <li>Links you make through Exolink, as well as links you get metadata about that haven't been seen before, are logged and sent to a public Discord channel.</li>
                <li>Image links are filtered from the logs - but the operator may know that an image was loaded.</li>
                <li>The link you're accessing in the link directory is filtered from the logs - but the operator may know that a link was accessed.</li>
                <li>That's it.</li>
                <li>Your IP address, browser, user agent, and/or other personally identifiable information are all <u>NOT</u> logged.</li>
            </ul>
            <br>
            <h2>Some parts of Exolink connect to other services.</h2>
            <ul>
                <li><a href="https://fontlay.com">Fontlay</a> is a proxy for <a href="https://fonts.google.com">Google Fonts</a>. Your IP is not shared with Google, and according to Fontlay, nothing is logged. Your browser directly connects to Fontlay, and Fontlay then talks to Google. <i>You</i> are <u>NOT</u> subject to Google's <a href="https://policies.google.com/privacy">Privacy Policy</a> or <a href="https://policies.google.com/terms">Terms of Service</a>. Fontlay does not appear to have a privacy policy or a terms of service.</li>
                <li><a href="https://firebase.google.com/docs/dynamic-links/">Firebase Dynamic Links</a> are links provided by Google. The Exoracer app generates these links when you share a level. Your browser sends no requests to Google - Exolink makes this request directly from the server to Google, and then gets what it needs and gives it back. <i>You</i> are <u>NOT</u> subject to Google's <a href="https://policies.google.com/privacy">Privacy Policy</a> or <a href="https://policies.google.com/terms">Terms of Service</a>.</li>
                <li>Exolink's servers may contact GitHub when visiting a link in the link directory. Your browser does not connect to GitHub - we do, and only in the event that we don't have a link on hand. We contact GitHub to confirm whether or not a link exists in our directory. <i>You</i> are <u>NOT</u> subject to GitHub's <a href="https://docs.github.com/en/site-policy/privacy-policies/github-general-privacy-statement">General Privacy Statement</a> or <a href="https://docs.github.com/en/site-policy/github-terms/github-terms-of-service">Terms of Service</a>.</li>
                <li>Exolink's servers may also fetch images when visiting a link in the link directory. Your browser does not connect to an external server - it connects to us, and then we get the image for you and return it.</li>
            </ul>
        </div>
    </body>
</html>