<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <table>
            <table id="jslicense-labels1">
                <tr>
                    <td><a href="/app.js">app.js</a></td>
                    <td><a href="http://www.gnu.org/licenses/agpl-3.0.html">AGPL-3.0</a></td>
                    <td><a href="/app.js">app.js</a></td>
                </tr>
            </table>
        </table>
    </body>
</html>