input[type="text"], input[type="number"] {
    font-size: 20px;
    text-align: left;
    border-color: #5a3ab3;
    background-color: #3a2574;
    border-style: solid;
    border-width: 3px;
    border-radius: 2.5px;
    margin: 2px;
    width: 300px;
}
label {
    font-size: 20px;
}
input[type="text"]::placeholder,input[type="number"]::placeholder  {
    font-style: italic;
}
select {
    cursor: pointer;
    text-align: left;
    border-radius: 3px;
    background-color: #7b4afa;
    border-style: none;
    padding: 3px;
    font-size: 20px;
}
input[type="submit"] {
    cursor: pointer;
    margin: 10px;
    border-radius: 3px;
    background-color: #7b4afa;
    border-style: none;
    padding: 4px;
    font-size: 20px;
}
button {
    cursor: pointer;
    margin: 0px;
    border-radius: 3px;
    background-color: #7b4afa;
    border-style: none;
    padding: 4px;
    font-size: 20px;
}